.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
  padding-bottom: 30px;
}

.App-link {
  color: #09d3ac;
}
