.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
  padding-bottom: 30px;
}

.App-link {
  color: #09d3ac;
}

.about {
  margin: auto;
  width: 75%;
  text-align: left;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  justify-content: center;
}

.suggestion-active,
.suggestions li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.form {
  padding: 5px;
}

.form form {
  align-items: left;
}

.container {
  position: relative;
  width: auto;
  float: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: .5;
}

.textOverlay {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  width: auto;
  height: auto;
  padding: 5px;
}

.center {
  margin: auto;
  width: 90%;
}

.logoStyle = {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.detail_info {
  float: right;
  padding: 5px;
}

.detail_image {
  float: left;
}

.detail {
  margin: auto;
  width: 80%;
  display: inline-block;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 15px;
}

.filter {
  font: bold 11px Arial;
  width: 100px; 
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
